@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: #1a202c;
    color: #cbd5e0;
    transition: background-color 500ms ease-in-out;
  }

body{
    overscroll-behavior: none;
    min-height: 100%;
}
.configurator
{
  height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  width: 100%;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.88);
    line-height: 64px;
    background: #ffffff;
}
@media screen and (max-width: 600px) {
  .css-1ae8k9u {
    padding:0;
  }
  .css-dev-only-do-not-override-1ae8k9u
  {
    padding: 0;
  }
}
